* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
    background-color: rgb(232, 255, 196);
}

h3 {
    margin: 20px;
    font-size: 30px;
    color: rgb(14, 94, 67);
}

h3 span {
    background-color: rgb(14, 94, 67);
    color: white;
    padding: 5px 10px;
    border-radius: 10px;
}

h4 {
    margin: 0 auto;
    margin-bottom: 15px;
    font-size: 30px;
    letter-spacing: 4px;
    color: hsl(0, 1%, 17%);
    text-transform: uppercase;
    background: linear-gradient(to right , hsl(0, 1%, 17%) 5%, hsl(17, 97%, 49%) 20%, hsl(0, 0%, 13%) 50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    width: 65%;
    animation: shine 3s infinite linear;
    padding: 20px 70px;
}

@keyframes shine {
    0% {
        background-position: 0;
    }
    60% {
        background-position: 150px;
    }
    100% {
        background-position: 150px;
    }
}

button {
    padding: 15px 20px;
    font-size: 20px;
    border-radius: 20px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    transition: all 200ms ease-in-out;
    border: none;
    background-color: black;
    color: white;
    position: relative;
    cursor: pointer;
}

button a {
    text-decoration: none;
    color: white;
}

.advanced, .basic {
    display: none;
}

button::before {
    content: '';
    position: absolute;
    border-radius: 50%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #f1720a;
    z-index: -1;
    transform: scale(1.5);
    transition: all 500ms ease-in-out;
}

button:hover::before, button:focus::before {
    transform: scale(0);
 }

 button {
    z-index: 1;
    overflow: hidden;
    transition: all 500ms ease-in-out;
 }

 button:hover, button:focus {
    color: yellow;
    transform: translateY(5px);
    box-shadow: none;
 }

.grid {
    margin: 20px auto;
    border: 4px solid black;
    height: 468px;
    width: 368px;
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(212, 179, 87);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.grid div {
    height: 40px;
    width: 40px;
}

.ending-block {
    color: rgb(247, 244, 245);
}

.ending-block span{
    font-size: 40px;
}

.game-over {
    color: rgb(131, 5, 131);
    background-color: white;
}

.l1, .l2, .l3 {
    background: linear-gradient(0deg, rgb(200, 142, 76) 1.9%, rgb(90, 68, 50) 29.7%, rgb(200, 142, 76));
}

.l4, .l5 {
    background: linear-gradient(-180deg, #a7dcf1 0%, #87e7ee 28%, #7cd0f1 40%, #90f0f7 70%, #a9dff5 80%);
}

.c1 {
    background-color: rgb(190, 194, 194);
    color: rgb(35, 3, 48);
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 2px dashed white;
    border-top: 2px dashed white;
}

.c1 span {
    font-size: 40px;   
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 1,
    'wght' 600,
    'GRAD' 10,
    'opsz' 48
  }

.cLeft {
    transform: scaleX(-1);
}

.c2, .c3 {
    background-color: rgb(190, 194, 194);
    color: rgb(190, 194, 194);
    border-bottom: 2px dashed white;
    border-top: 2px dashed white;
}

.c2 span, .c3 span {
    display: none;
}

.bunny {
    font-size: 35px;
    border-radius: 20px;
    border: 2px solid rgb(84, 36, 129);
    color: rgb(84, 36, 129);
}

.frog {
    font-size: 35px;
    border-radius: 20px;
    border: 2px solid rgb(84, 36, 129);
    background-image: url(./pets.svg);
    background-size: cover;  
    color: rgb(84, 36, 129);
}

.start-game {
    display: none;
}

footer {
    font-size: 20px;
    margin-top: 30px;
}

footer a {
    display: inline-flex;
    text-decoration: none;
    color: #11634c;
    transition: all 200ms ease-in-out;
}

footer a:hover {
    color: #468573;
    transform: translateY(-5px);
}

@media only screen and (max-width: 8200px) {
    h3 {
        margin: 25px;
        font-size: 28px;
    }

    footer {
        font-size: 18px;
        margin-top: 35px;
    }
}

@media only screen and (max-width: 480px) {
    h3 {
        margin: 35px;
        font-size: 20px;
    }
    footer {
        font-size: 16px;
        margin-top: 40px;
    }
}