* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.grid {
    margin: 20px auto;
    border: 1px solid black;
    height: 362px;
    width: 362px;
    display: flex;
    flex-wrap: wrap;
}

.grid div {
    height: 40px;
    width: 40px;
}

.ending-block {
    background-color: blueviolet;
}

.starting-block {
    background-color: rgb(95, 248, 210);
}

/* .log-left, .log-right {
    background-color: lightblue
} */

/* .car-left, .car-right {
    background-color: rgb(84, 85, 85)
} */

.l1, .l2, .l3 {
    background-color: rgb(114, 50, 20);
}

.l4, .l5 {
    background-color: rgb(138, 223, 252)
}

.c1 {
    background-color: rgb(115, 117, 117);
    color: rgb(245, 83, 8);
    display: flex;
    align-items: center;
    justify-content: center;
}

.c1 span {
    font-size: 40px;   
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 1,
    'wght' 600,
    'GRAD' 10,
    'opsz' 48
  }

.cLeft {
    transform: scaleX(-1);
}

.c2, .c3 {
    background-color: rgb(115, 117, 117);
    color: rgb(115, 117, 117);
}

.frog {
    background-color: green;
}