* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.grid {
    margin: 20px auto;
    border: 1px solid black;
    height: 362px;
    width: 362px;
    display: flex;
    flex-wrap: wrap;
}

.grid div {
    height: 40px;
    width: 40px;
}

.ending-block {
    background-color: blueviolet;
}

.starting-block {
    background-color: rgb(95, 248, 210);
}

/* .log-left, .log-right {
    background-color: lightblue
} */

/* .car-left, .car-right {
    background-color: rgb(84, 85, 85)
} */

.frog {
    background-color: green;
}

.l1, .l2, .l3 {
    background-color: rgb(114, 50, 20);
}

.l4, .l5 {
    background-color: rgb(138, 223, 252)
}

.c1 {
    background-color: black;
}

.c2, .c3 {
    background-color: rgb(84, 85, 85);
}